/*.grid-contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: grey;
}

.attributions {
  background: #f0f0f0;
  padding: 2rem;
  border-radius: 10px;
  box-sizing: border-box;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

main {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  padding: 2rem;
  overflow: visible;
  grid-auto-columns: 400px;
}

.attributions {
  background-color: antiquewhite;
  display: block;
}
