footer{
    background: rgb(173, 224, 64);
    color: black;
    font-size: 0.75rem;
    padding: 0.6rem;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

small{
    font-family: inherit;
    font-size: 1rem;
}

@media (max-width: 768px) {
    small{
        font-size: 1rem;
    }
    
    footer{
        width:100%
    }
}