body {
  margin: 0;
  background-image: url("rippled_water.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

#content {
  background-color: antiquewhite;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body.dark #content {
  background-color: rgb(68, 68, 68);
}

#hero {
  grid-column: 1 / -1;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
}

@media (max-width: 768px) {
  #content {
    width: 100%;
  }
}
